/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*To avoid overflow*/
	font-family: 'Dosis', sans-serif;


}

body {
	background: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color:  lightgrey;

}

.wrapper {
	background-color: #81A594;
	width: 80%;
	margin: 0 auto; /*To center the wrapper*/
	top: 100px;
	 opacity: 0.8;
}




/*
*
*Content
*
*/

.menu {
	height: 100px;
	background-color: 00628B;
}


.content {
/*	height: 500px;*/
	width: 80%;
	background-color: #81A594;
	float: left;
	padding: 20px;
	color: white;

}


.article-image {
	width: 300px;
	/*height: 200px;*/
	float: left;
	margin-right: 20px;
	margin-bottom:  20px;

}

div.content > p{
	margin-bottom:  10px;
}
.footer {
/*	height: 200px;*/
	background-color: #00628B;
	clear: both; /*Will offset floating effect*/
/*	border: 5px solid red;*/
}

.avatar {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 25px;
	border-radius: 50%;
	background-image: url("ls.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.avatar2 {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 25px;
	border-radius: 50%;
	background-image: url("amethyst.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.avatar3 {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 25px;
	border-radius: 50%;
	background-image: url("peridot.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.avatar4 {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 25px;
	border-radius: 50%;
	background-image: url("aqua.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.avatar5 {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 25px;
	border-radius: 50%;
	background-image: url("rosaline.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.avatar6 {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 25px;
	border-radius: 50%;
	background-image: url("sapphire.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}



.username {
	margin-bottom: 15px;
}

h3.username + p {
	overflow: hidden;

}

.page {
/*	border: 1px solid red;*/
	/*height: 500px;*/
}

/*
*
*Best-way to clear floats
*
*/

.clear:after {
	content: "";
	display: block;
	clear: both;

}

/*
*
*Columns
*
*/

.column {
	background-color: #b2d6ff;
	height: 160px;
	width: 31%;
	margin: 20px 1.16%;
/*	border: 1px solid red; *//* For testing only */
	float: left;
	padding: 15px;
/*	overflow: hidden;
*/
	position: relative;
}

/*
*
* Managing text-overflow with multiline support
*
*/

.block-with-text {
	overflow: hidden;
	position: relative;
	line-height: 1.2em; /*default font size*/
	max-height: 3.6em;
	text-align: left;
	margin-right: -1em;
	padding-right: 30px
}

.block-with-text:before {
	content: "...";
	position: absolute;
	right: 58px;
	bottom: 0;
}

.block-with-text:after {
	content: "";
	position: absolute;
	right:  58px;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background-color: #b2d6ff;

}

.read-more {
	position: absolute;
	right: 25px;
	bottom: 25px;

}

footer {
	text-align: center;
	background-color: #E6E6DC;
}



h1{
	text-align: center;
	color:white;
	background-color: #00628B;
}